<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperación de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-button-container">
    <ion-button class="top-button" fill="clear" (click)="goToHome()">Volver a Inicio
      <ion-icon name="chevron-back-sharp" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div class="top-button-container">
    <ion-button class="top-button" fill="clear" (click)="goToHome()">Volver a Inicio
      <ion-icon name="chevron-back-sharp" slot="start"></ion-icon>
    </ion-button>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Email -->
      <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input
            label="Correo Institucional"
            label-placement="stacked"
            formControlName="email"
            type="email"
            required
            placeholder="Ejemplo: usuario@duocuc.cl o usuario@profesor.duoc.cl"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="passwordRecoveryForm.get('email')?.hasError('invalidEmail') && passwordRecoveryForm.get('email')?.touched">
          El formato del correo no es válido.
        </ion-text>

        <!-- Código de recuperación -->
        <ion-item>
          <ion-input
            label="Código de recuperación"
            label-placement="floating"
            formControlName="recoveryCode"
            required
            placeholder="Introduce tu código de recuperación"
          ></ion-input>
        </ion-item>

        <!-- Nueva contraseña -->
        <ion-item>
          <ion-input
            label="Nueva Contraseña"
            label-placement="floating"
            [type]="passwordInputType"
            formControlName="newPassword"
            required
            placeholder="Introduce tu nueva contraseña"
          ></ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon [name]="passwordInputType === 'password' ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- Requisitos de la contraseña -->
        <ion-list class="password-requirements">
          <ion-item>
            <ion-icon [color]="requirements.length ? 'success' : 'danger'" [name]="requirements.length ? 'checkmark-circle' : 'alert-circle'"></ion-icon>
            <ion-label>8 caracteres</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon [color]="requirements.uppercase ? 'success' : 'danger'" [name]="requirements.uppercase ? 'checkmark-circle' : 'alert-circle'"></ion-icon>
            <ion-label>1 mayúscula</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon [color]="requirements.number ? 'success' : 'danger'" [name]="requirements.number ? 'checkmark-circle' : 'alert-circle'"></ion-icon>
            <ion-label>1 número</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon [color]="requirements.special ? 'success' : 'danger'" [name]="requirements.special ? 'checkmark-circle' : 'alert-circle'"></ion-icon>
            <ion-label>1 carácter especial</ion-label>
          </ion-item>
        </ion-list>

        <!-- Confirmar contraseña -->
        <ion-item>
          <ion-input
            label="Confirma tu nueva contraseña"
            label-placement="floating"
            type="password"
            formControlName="confirmPassword"
            required
            placeholder="Confirma tu nueva contraseña"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="passwordRecoveryForm.hasError('passwordsDontMatch') && passwordRecoveryForm.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </ion-text>

        <!-- Botón enviar -->
        <ion-button expand="block" type="submit" [disabled]="!passwordRecoveryForm.valid">Enviar</ion-button>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
