<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="button-inicio" tab="login" href="/pages/login">
      <ion-icon class="icon-inicio" name="person"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [disabled]="!isTab2Enabled" class="button-qr" tab="tab2" href="/pages/tab2">
      <ion-icon class="icon-qr" name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button-info" tab="tab3" href="/pages/tab3">
      <ion-icon class="icon-info" name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
