<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header collapsable que se ajusta cuando se hace scroll -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido(a)</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>

  </ion-content>
  <!-- Contenedor principal de la página -->
  <div class="ion-padding">
    <!-- Sección de bienvenida o información principal -->
    <ion-card>

    </ion-card>

    <!-- Botones de navegación o acciones principales -->

