:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-light: #f4f5f8;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}
