<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      
      <ion-input label="Correo Electrónico" label-placement="floating" placeholder="usuario@duocuc.cl o usuario@profesor.duoc.cl" type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input 
        label="Contraseña"
        label-placement="floating" 
        type="password" 
        [(ngModel)]="password" 
        name="password" required>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="goToRegister()">¿No tienes cuenta? Regístrate</ion-button>
  </div>
</ion-content>
